
body {
    background-color: hsl(0, 0%, 100%);
    font-family: 'Spartan', sans-serif;
    font-size: 15px;
}

/* header */
.header {
    text-align: left;
    display: block;
    padding: 5rem 0 0 7rem;
    width: 40%;
}

.title {
    color: hsl(300, 43%, 22%);
    font-size: 3rem;
    width: 100%;
    font-weight: 700;
}

.paragraph {
    color: hsl(303, 10%, 53%);
    width: 90%;
    line-height: 1.8;
}

.rating-positioning {
    position: relative;
    width: 100%;
    text-align: left;
    color: hsl(300, 43%, 22%);
    font-family: 'Spartan';
    font-weight: 700;
}

.rating-1 {
    background-color: hsl(300, 24%, 96%);
    width: 20%;
    position: absolute;
    top: -17rem;
    right: 20rem;
    padding: 0.7rem;
}

.rating-2 {
    background-color: hsl(300, 24%, 96%);
    width: 20%;
    position: absolute;
    top: -12rem;
    right: 17rem;
    padding: 0.7rem;
}

.rating-3 {
    background-color: hsl(300, 24%, 96%);
    width: 20%;
    position: absolute;
    top: -7rem;
    right: 14rem;
    padding: 0.7rem;
}

.svg-top {
    position: absolute;
}

/* attribution */
.attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }
